* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    border: 3px solid black;
    min-height: 550px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 1;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.display > div {
    flex: 1;
}

.current-operation {
    font-size:42px;
}

.precalc-result {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 22px;
}

.nums-and-ops {
    flex:2;
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    padding: 10px;
}


.calculator > div {
    border: 2px solid red;
}

.nums-and-ops > div {
    width: 24%;
}


.calc-btn {
    border: 1px;
    background-color: rgb(236, 249, 255);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 550;
    
}

.opr {
    color: #AB2B2B
}

.digit {
    color:rgb(67, 87, 176);
}


