* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    border: 3px solid black;
    min-height: 550px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.display {
    flex-grow: 1.3;
}

.nums-and-ops {
    flex-grow: 3;
    display: flex;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}


.operators {
   width: 30%;
}

.calculator > div {
    border: 2px solid red;
}

.nums-and-ops > div {
    border: 2px solid green;
}

.numbers > div {
    border: 1px solid black;
    width: 33.3%;
}

